body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}


header {
  background-color: #000000e8;
  position: sticky;
  top: 0;
  padding: 20px 0;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar a {
  color: #ffd43b;
}
.fa-a {
  border: 1px white solid;
  font-size: x-large;
}
.logo a {
  text-decoration: none;
}
header img {
  height: 50px;
  vertical-align: middle;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}
.fa-bars{
  color: #fff;
  margin-left: 70px;
  display: none !important;
}
.sectionOne{
  background-image: url("assets/home background.jpg");
  background-size: cover;
  background-position-y: bottom;
}
.menu {
  padding: 50px 0;
 
}

.menu-item {
  margin-bottom: 30px;
}

.menu-item h3 {
  margin-bottom: 10px;
}

.menu-item ul {
  list-style: none;
  padding: 0;
}

.menu-item ul li {
  margin-bottom: 5px;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 50px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  height: 50px;
}

.footer-logo h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-contact p {
  margin: 0;
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  margin-right: 10px;
}

.footer-social img {
  height: 30px;
}
